{% extends 'default.html.twig' %}

{% set title = "Edit category " ~ category.name %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Categories", url:path("admin_categories")},
            2:{name:"Edit category " ~ category.name}
        }
    }%}
{% endblock %}

{% block content %}
    {{form_start(categoryForm)}}
        {{form_widget(categoryForm)}}
        <button type="submit" class="btn btn-primary">Update category</button>
    {{form_end(categoryForm)}}
{% endblock %}