{% extends 'default.html.twig' %}

{% set title = "Page not found :(" %}

{% block content %}
    <p>
        {% if error %}
            {{ error.message }}
        {% else %}
            The page you were searching for does not exist. Your request has returned a 404 error.
        {% endif %}
    </p>
    <a href="{{path("home")}}" class="btn btn-outline-primary">Go to homepage</a>
{% endblock %}