{% extends 'default.html.twig' %}

{% set title = "About us" %}

{% block content %}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit ullam aperiam incidunt, voluptas, nihil provident libero aliquid assumenda eum, voluptates impedit itaque deleniti qui pariatur unde quos fuga? Tenetur, enim?</p>
    <p>Inventore commodi possimus corporis? Recusandae blanditiis, magni debitis libero nam in, officiis ipsam deserunt accusantium dicta quisquam dolor cumque beatae est nihil. Consectetur doloremque quibusdam ipsa provident harum natus inventore.</p>
    <p>Ipsa reiciendis ex recusandae. Atque, illo. Rem rerum porro pariatur, libero labore qui aliquid exercitationem assumenda laudantium error doloremque fugiat maiores beatae atque harum illo ipsa natus id quia laboriosam!</p>
{% endblock %}