{% extends 'default.html.twig' %}

{% set title = "All products" %}

{% block content %}
    <div class="row g-4">
        {% for product in products %}
            <div class="col-4">
                {% include "_parts/_product-card.html.twig" with { product: product } %}
            </div>
        {% endfor %}
    </div>
{% endblock %}