{% extends "no-title.html.twig" %}

{% set title = "Home" %}

{% block content %}
    {% if lastProducts is not empty %}
        <section>
            <h2>New products</h2>
            <div class="row g-4 mb-4">
                {% for p in lastProducts %}
                    <div class="col-4">
                        {% include "_parts/_product-card.html.twig" with { product: p } %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if popularProducts is not empty %}
        <section>
            <h2>Popular products</h2>
            <div class="row g-4">
                {% for p in popularProducts %}
                    <div class="col-4">
                        {% include "_parts/_product-card.html.twig" with { product: p } %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section>
        <h2>Why choose us?</h2>
        {% include "_parts/_icon-cards.html.twig" with {
            style: {"bg": "primary", "text": "white"},
            cards: {
                1: { icon: "fas fa-check", content: "Money back guarantee" }, 
                2: { icon: "fa fa-truck", content: "Fast delivery" },
                3: { icon: "fa fa-leaf", content: "Green products" },
                4: { icon: "fa fa-smile", content: "Happy clients" }
            }
        } %}
    </section>
{% endblock %}