<div class="d-flex justify-content-center mt-5">
    {% for button in collection.pagination.buttons %}
        {% if button.url is not null %}
            <a href="{{ button.url }}" class="btn btn-outline-primary me-2">{{ button.page }}</a>
        {% else %}
            <button class="btn btn-primary me-2" disabled>{{ button.page }}</button>
        {% endif %}
    {% endfor %}
</div>