<div class="d-flex justify-content-center mt-5">
    {% for page, url in collection.pagination %}
        {% if url is not null %}
            <a href="{{ url }}" class="btn btn-outline-primary me-2">{{ page }}</a>
        {% else %}
            <button class="btn btn-primary me-2" disabled>{{ page }}</button>
        {% endif %}
    {% endfor %}
</div>