<header class="py-3 border-bottom">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-3">
                {% if setting('logo') is null %}
                    <span class="logo-text">{{ setting('siteName') }}</span>
                {% else %}
                    <img src="{{setting('logo') }}" height="30" alt="logo-storee-online-store">
                {% endif %}
            </a>
            <div class="me-auto">
                {% include "_parts/_navbar_links.html.twig" with {links: {
                    0:{text: "All products", path: path("catalog"), badge:"sale"},
                    1:{dropdown: "Categories", items: categories(), basePath:"/category/", color:"primary"},
                    2:{text: "About", path: path("about")}
                }} %}
            </div>
            {% include "_parts/_navbar_links.html.twig" with {links: {
                    0:{icon: "fas fa-shopping-cart", path: path("cart"), badge: cartService.productsNumber},
            }} %}
            {% if not app.user %}
                {% include "_parts/_navbar_links.html.twig" with {links: {
                    1:{text: "Register", path: path("user_create"), class:"small"},
                    2:{btn: "Log in", path: path("security_login"), class:"btn-sm"}
                }} %}
            {% else %}    
                {% include "_parts/_navbar_links.html.twig" with {links: {
                    3:{icon: "fas fa-user", path: path("account_show")},
                    4:{btn: "Log out", path: path("security_logout"), class:"btn-sm", color: "danger"}
                }} %}
            {% endif %}
        </div>
    </nav>
</header>