<header class="py-3 mb-4 border-bottom">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-3">
                <img src="/img/logo/logo-color.png" height="30" alt="logo-storee-online-store">
            </a>
            <div class="me-auto">
                {% include "_parts/_navbar_links.html.twig" with {links: {
                    0:{text: "All products", path: path("catalog")},
                    1:{dropdown: "Categories", items: categoryRepository.findAll(), basePath:"/category/", color:"primary"},
                    2:{text: "About", path: path("about")}
                }} %}
            </div>
                {% include "_parts/_navbar_links.html.twig" with {links: {
                    0:{icon: "fas fa-shopping-cart", path: path("cart")},
                    1:{text: "Sign in", path: path("signin"), class:"small"},
                    2:{btn: "Log in", path: path("login"), class:"btn-sm"},
                    3:{icon: "fas fa-user", path: path("account")},
                    4:{btn: "Log out", path: path("logout"), class:"btn-sm", color: "danger"}
                }} %}
        </div>
    </nav>
</header>