<header class="py-3 mb-4 border-bottom">

    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-3">
                <img src="/img/logo/logo-color.png" height="30" alt="logo-storee-online-store">
            </a>
            <div class="me-auto">
                {% include "_parts/_navbar_links.html.twig" with {
                    links: leftLinks
                } %}
            </div>
            {% include "_parts/_navbar_links.html.twig" with {
                links: rightLinks
            } %}
        </div>
    </nav>




</header>