:root{
    --bs-primary: #25a4bb;
    --bs-primary-rgb: 26, 147, 169;
    --bs-primary-hover: #126979;
    --bs-primary-rgb-hover: 17, 91, 104;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-bottom: 60px;
}

.h1,h1 {
	margin-bottom: 3rem;
    color: gray;
}
.h2,h2 {
	margin-bottom: 2rem;
}

.h3,h3 {
    margin-top: 2.2rem;
    margin-bottom: 1.2rem;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* Position */

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Tables */

th.w-10 {
    width: 10%;
}
th.w-15 {
    width: 15%;
}
th.w-20 {
    width: 20%;
}
th.w-25 {
    width: 25%;
}
th.w-30 {
    width: 30%;
}
th.w-40 {
    width: 40%;
}
th.w-50 {
    width: 50%;
}