{% extends 'default.html.twig' %}

{% set title = "Create a category" %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Create a category"}
        }
    }%}
{% endblock %}

{% block content %}
   {{ form_start(categoryForm) }}
    {{ form_errors(categoryForm) }}
        <div class="row">
            <div class="col">
                {{ form_row(categoryForm.name) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
   {{ form_end(categoryForm) }}

{% endblock %}