{% extends 'default.html.twig' %}

{% set title = category.name|title %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
       links: {
           1: {name: category.name}
       }
   } %}
{% endblock %}

{% block content %}
    <div class="row g-4">
        {% for product in category.products %}
            <div class="col-4">
                {% include "_parts/_product-card.html.twig" with {
                    product: product
                } %}
            </div>
        {% endfor %}
    </div>
{% endblock %}