{% extends 'default.html.twig' %}

{% set title = "Users" %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Users", url:path("admin_users")},
            2:{name:user.username}
        }
    }%}
{% endblock %}

{% block content %}
    <b>User ID:</b> {{ user.id }}</li>
    <div class="row mt-4">
        <div class="col col-4">
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            
            <button type="submit" class="btn btn-primary">Edit</button>
            {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}