<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {{ siteName }}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/font/montserrat/montserrat.css">
            <link defer rel="stylesheet" href="/font/font-awesome/all.css">
        {% endblock %}
        {% block javascripts %}
            <script defer src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>

        {% include "_parts/_navbar.html.twig" %}

        <div class="container my-5">
            {% block body %}{% endblock %}
        </div>

        {% include "_parts/_footer.html.twig"%}
{{dump(app.session)}}
    </body>
</html>