{% extends "base.html.twig" %}

{% set title = (title|default(setting('siteName'))) %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container my-5">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message|raw }}</div>
            {% endfor %}
        {% endfor %}

        {% block breadcrumbs %}{% endblock %}

        {% if title is not same as setting('siteName') %}
            <h1>{{ title }}</h1>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
    
{% endblock %}