{% extends 'default.html.twig' %}

{% set title = "Contact us" %}

{% block content %}
    <div class="col-md-6">
        {{ form_start(contactForm, {attr:{novalidate:''}}) }}
        {{ form_widget(contactForm) }}
        <button type="submit" class="btn btn-primary"><i class="fas fa-envelope me-2"></i>Send</button>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}