{% extends 'default.html.twig' %}

{% set title = "FAQ" %}

{% block content %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione saepe quibusdam rem dignissimos, iusto doloribus laborum aliquam veritatis sint beatae excepturi eligendi sunt odio, laboriosam ipsum veniam ab ipsam minima.
    Labore perspiciatis hic similique, velit, nam harum ipsam voluptates iste sapiente illum deserunt. Explicabo, alias? Omnis adipisci, similique, tempora explicabo, maxime repudiandae ipsam itaque qui maiores laborum dolor doloribus nisi!

    <h3>What is your return policy?</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo praesentium laboriosam quidem nobis enim! Voluptatum beatae culpa ratione reprehenderit labore, nisi nihil provident omnis at expedita dolorem ad ab quia!

    <h3 id="shipping">Do you ship internationally?</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum deserunt alias similique, ratione esse voluptas asperiores. Aut, dolores in doloribus perferendis fugit iusto nemo minima eius voluptatem dolor. Necessitatibus, nihil.
    Voluptatum neque illum doloremque accusantium a! Dolorem maxime odit natus eveniet, dicta praesentium quasi obcaecati voluptatum. Pariatur quod, reprehenderit repellat aspernatur enim quisquam delectus aliquam odit officia debitis saepe? Eos.
    Earum quas, ut consequuntur incidunt veniam facilis inventore id tenetur, sint totam non odit perspiciatis ipsum iusto natus vel nostrum. Sed nemo alias nostrum magnam maxime quidem soluta sapiente exercitationem.

    <h3>What are your shipping options?</h3>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda aspernatur unde voluptates iste ipsa nihil quia consectetur dolor! Dignissimos neque blanditiis necessitatibus qui laboriosam quibusdam, ut sint nemo sequi!
    Excepturi, maiores minima harum ducimus nesciunt id quidem tempora maxime, magni eaque deleniti doloribus provident quo distinctio enim recusandae natus tempore ex nam. Exercitationem autem, earum quis corrupti recusandae adipisci.

    <h3>What are the shipping costs?</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae nemo dolorem modi! Quae cum impedit totam. Esse voluptas saepe accusantium a magnam eaque culpa laborum nam eligendi error? A, omnis.
    Commodi dicta eaque magnam sunt ipsum aspernatur ratione nobis hic non fugiat sed omnis, enim beatae, sapiente, delectus atque nulla vero? Ullam voluptatibus excepturi libero esse soluta asperiores iste quaerat?

    <h3>How long until I get my delivery?</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio officia explicabo dicta, nostrum sapiente asperiores dolores reprehenderit ad consectetur sunt adipisci veritatis expedita commodi consequatur nisi deleniti odit vel ut!

    <h3>Can I change or cancel my order?</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consectetur ratione, cum soluta earum eum fugiat ipsum maxime officiis ex sapiente natus, repellat quam velit esse vel sit et totam.
    Quaerat qui libero voluptates nam fuga debitis explicabo. Dolores quos odit excepturi non natus, minus quasi tempora dicta ea voluptatum, nesciunt repellat, quidem amet temporibus culpa debitis cumque. Minima, ab.
    Eius quia tempore expedita facere ducimus sed ut accusantium eligendi fugiat, quibusdam vero architecto necessitatibus saepe nemo error rerum! Quod dolorum deserunt eius et quidem nihil doloribus quaerat ipsa id!

    <h3>How can I track my order?</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eos officiis sed architecto fugit quam quaerat fugiat optio similique corrupti sequi aspernatur suscipit rerum, molestiae animi tenetur, incidunt natus adipisci.
    Iusto porro ratione amet ab dolorum, necessitatibus dolore blanditiis vero fugiat aliquid aspernatur. Itaque deleniti animi, porro dolor, omnis, corrupti veniam excepturi cum quis quae vitae nulla voluptas dolore est?

    <h3>Are my payment details/data secure?</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos alias deserunt repellat aut et asperiores assumenda iusto quisquam dolore fugiat beatae iste cumque, tempora sint, facilis esse ipsa vel soluta.

    <h3>How is [Product] made?</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet neque odit, totam at iure sapiente aperiam excepturi sequi voluptate debitis, expedita vel asperiores quibusdam assumenda. Placeat velit et dolore quae.

{% endblock %}